name: Semgrep SAST

on:
  pull_request:
  push:
    branches: [ main ]

jobs:
  semgrep:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Run Semgrep
        uses: semgrep/semgrep-action@v1
        with:
          config: "p/default"
